.ui-widget-content div{
    float:left;
    clear:none;

}



#controlPanel{
    width:500px;
    height:330px;
    margin:auto;
    display:inline-block;
    cursor:move;
    padding: 10px;
    border-style: solid;
    border-color: lightgrey;
}

.valueSelector{
    cursor:default;
}
.tsSelector{
    cursor:default;
}
/*#mobileOptions{*/
    /*width:20%;*/
    /*height:30%;*/
    /*float:left;*/
    /*margin:auto;*/
    /*border-style: solid;*/
    /*border-color: lightgrey;*/
    /*overflow:auto;*/

/*}*/

#colorLegend{
    cursor:default;
}