html,
body {
  font-family: Arial;
  height: 100%;
}

#map_title{
  text-align: center;
  display: block;
  font-family: Impact;
  font-size: 25px;
}

#mobile_title{
  text-align: center;
  display: block;
  font-family: Impact;
  font-size: 25px;
}

#region_name{
  text-align: center;
  display: block;
  font-family: Impact;
  font-size: 25px;
}

.my-header{
    padding-top: 10px;
    width:100%;
    height: 20px;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
}

.navbar {
  background-color: #e74c3c !important;
}

.navbar .navbar-brand {
  color: #ffbbbc !important;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffbbbc !important;
}

.navbar .navbar-text {
  color: #ecf0f1 !important;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #e74c3c;
  position: fixed;
  bottom: 0px;
}

.footer-copyright {
  padding-top: 10px;
  height:50px;
  font-size: 15pt;
  text-align: center;
  color: #ecf0f1 !important;
}

.footer .footer-copyright:hover,
.footer .footer-copyright:focus {
  color: #ffbbbc !important;
}

#down{
  postion:fixed;
  top:50%;
}
