#map{
    /*float:left;*/
    width: 500px;
    height: 500px;
    margin:auto;
    display:inline-block;
    cursor:move;
    /*float:left;*/
    padding: 10px;
    border-style: solid;
    border-color: lightgrey;
}
.geoPath{
    fill:lightgrey;
}

#map #regMap path{
    stroke: #bbbbbb;
    cursor:pointer;
}



div.tooltip {
    position:absolute;
    color: #000000;
    z-index:1000;
    background:rgba(255,255,255,0.5);
    padding:5px 10px;
    border-radius:5px;
    font-size:10px;
    width:180px;
    border:1px solid;
    -webkit-transform:translate(0,-50%);
    transform:translate(0,-50%);
    pointer-events:none;
}

.unselected{
    fill:lightgrey;
}
.selected{
    border-color:black;
    fill:#2171b5;
}