
.line {
  fill: none;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #5d5d5d;
  shape-rendering: crispEdges;
}

.axis .tick line {
  stroke: #bfbfbf;
	stroke-dasharray: 1.5;
	stroke-opacity: .5;
}

/* .x.axis path, .x.axis1 path {
  display: none;
} */

.axis--grid .domain {
  fill: #bfbfbf;
  opacity: 0.75;
  stroke: none;
}

.axis--x .domain,
.axis--grid .tick line {
  stroke: #fff;
  stroke-dasharray: 0;
  stroke-width: 1px;
}

.axis--x .tick line {
  stroke: #bfbfbf;
  stroke-dasharray: 0;
  stroke-opacity: 1;
}

.axis--grid .tick--minor line {
  stroke-opacity: .5;
  stroke-width: 0.5px;
}

.area.above {
    opacity: 0.75;
    fill: #91bfdb;
    pointer-events: none;
}
.area.below {
    opacity: 0.75;
    fill: #fc8d59;
    pointer-events: none;
}

.legend-box {
  cursor: pointer;
}

#mouse-tracker {
  stroke: #bfbfbf;
  stroke-width: 1px;
}

.tstooltip {
  font-weight: normal;
}

.brush .extent {
  stroke: #FFF;
  shape-rendering: crispEdges;
}
.tstooltip {
    position:absolute;
    color: #000000;
    z-index:1000;
    background:rgba(255,255,255,0.5);
    padding:5px 10px;
    border-radius:5px;
    font-size:10px;
    width:180px;
    border:1px solid;
    -webkit-transform:translate(0,-50%);
    transform:translate(0,-50%);
    pointer-events:none;
}
